- name: Create files and dirs
  hosts: localhost
  connection: local
  vars:
    runtime_files_dir: "{{ lookup('env', 'RUNTIME_FILES_DIR') }}"
  tasks:
    - name: Create directories
      file:
        path: "{{ item.path }}"
        mode: "{{ item.mode }}"
        state: directory
      become: "{{ item.become }}"
      with_items:
        - { path: "{{ runtime_files_dir }}" , mode: '0755', become: 'no' }
        - { path: "{{ ansible_env.HOME }}/.config/i3", mode: '0744', become: 'no' }
        - { path: "{{ ansible_env.HOME }}/.config/i3status", mode: '0744', become: 'no' }
        - { path: "{{ ansible_env.HOME }}/.config/sublime-text", mode: '0700', become: 'no' }
        - { path: "{{ ansible_env.HOME }}/.config/sublime-text/Packages", mode: '0700', become: 'no' }
        - { path: "{{ ansible_env.HOME }}/.config/sublime-text/Packages/User", mode: '0700', become: 'no' }

    - name: Create files
      file:
        path: "{{ item.path }}"
        mode: "{{ item.mode }}"
        state: touch
      become: "{{ item.become }}"
      with_items:
        - { path: "{{ runtime_files_dir }}/input", mode: '0644', become: 'no' }
        - { path: "{{ runtime_files_dir }}/output", mode: '0644', become: 'no' }
        - { path: "{{ runtime_files_dir }}/source", mode: '0644', become: 'no' }
        - { path: "{{ runtime_files_dir }}/compiled", mode: '0755', become: 'no' }
