- name: Update additional configs
  hosts: localhost
  connection: local
  tasks:
    - name: Copy files with different permissions
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "{{ item.mode }}"
      become: "{{ item.become }}"
      with_items:
        - { src: "../linux/{{ ansible_hostname }}/i3.conf", dest: "/tmp", mode: "0644", become: "no" }
        - { src: "../linux/{{ ansible_hostname }}/i3status.conf", dest: "/tmp", mode: "0644", become: "no" }
        - { src: "../linux/{{ ansible_hostname }}/layouts", dest: "{{ ansible_env.HOME }}/.config/i3", mode: "0644", become: "no" }
        - { src: "../sublime_text/Preferences.sublime-settings", dest: "{{ ansible_env.HOME }}/.config/sublime-text/Packages/User", mode: "0644", become: "no" }
        - { src: "../linux/.xinitrc", dest: "{{ ansible_env.HOME }}", mode: "0644", become: "no" }
        - { src: "../linux/.profile", dest: "{{ ansible_env.HOME }}", mode: "0644", become: "no" }
        - { src: "../linux/{{ ansible_hostname }}/conky.conf", dest: "/tmp", mode: "0644", become: "no" }
        - { src: "../linux/terminalrc", dest: "{{ ansible_env.HOME }}/.config/xfce4/terminal", mode: "0644", become: "no" }

    - name: Rename files
      command: mv "{{ item.src }}" "{{ item.dest }}"
      become: "{{ item.become }}"
      with_items:
        - { src: "/tmp/i3.conf", dest: "{{ ansible_env.HOME }}/.config/i3/config", become: "no" }
        - { src: "/tmp/i3status.conf", dest: "{{ ansible_env.HOME }}/.config/i3status/config", become: "no" }
        - { src: "/tmp/conky.conf", dest: "{{ ansible_env.HOME }}/.conkyrc", become: "no" }

    - name: Correct the path to the background image of xfce4-terminal
      replace:
        path: "{{ ansible_env.HOME }}/.config/xfce4/terminal/terminalrc"
        regexp: "^BackgroundImageFile=background image file changeit$"
        replace: "BackgroundImageFile={{ ansible_env.HOME }}/.terminal_wallpaper"
      become: no

    - name: Copy build systems for Sublime Text
      copy:
        src: "../sublime_text/build_systems/"
        dest: "{{ ansible_env.HOME }}/.config/sublime-text/Packages/User"
        mode: 0644
      become: no

    - name: Copy launcher scripts
      copy:
        src: "../scripts/launchers/"
        dest: "{{ ansible_env.HOME }}/.local/bin"
        mode: 0755
      become: no
