- name: Update base configs
  hosts: localhost
  connection: local 
  tasks:
    - name: Copy files with different permissions
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "{{ item.mode }}"
      become: "{{ item.become }}"
      with_items:
        - { src: '../linux/.bash_aliases', dest: '~', mode: '0644', become: 'no' }
        - { src: '../linux/.bash_functions', dest: '~', mode: '0644', become: 'no' }
        - { src: '../linux/.bashrc', dest: '~', mode: '0644', become: 'no' }
